@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    text-align: center;
}
div img {
    width: 250px;
}
div p {
    font-size: 30px;
    color: #7653B4;
    font-weight: 600;
}