@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/* Cabecalho(LOGO) */
header {
    padding: 30px 0 10px;
}
header h1 {
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 45px;
    color: #fff;
}
header h1::after{
    content: 'v1';
    font-family: monospace;
    font-size: 24px;
    margin-left: 5px;
}

/* Texto e Login/Registro */
section {
    display: none;
    justify-content: center;
    padding: 30px 0 30px;
}

.box {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.text-container {
    display: flex;
    align-items: center;
}
.text-container img {
    width: 260px;
    height: auto;
    display: block;
}
.text {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
}
.text a {
    display: inline-block;
    background-color: #282829;
    box-shadow: 0px 0px 7px -2px rgb(0, 0, 0);
    color: #fff;
    width: 250px;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 21px;
    border-radius: 7px;
    margin-top: 10px;
    transition: transform 0.2s ease;
    margin-left: 10px;
}
.text a:active {
    transform: scale(0.95,0.95);
}
.text .ou {
    font-size: 27px;
}


/* Login e Registro */
.forms {
    color: #fff;
}
button {
    background-color: #503383;
    box-shadow: 0px 0px 7px -2px rgb(0, 0, 0);
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    width: 100%;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.2s ease;
    border: none;
    cursor: pointer;
}
button:active {
    transform: scale(0.95,0.95);
}
form {
    padding: 35px;
    border-radius: 15px;
    background-color: #1F1F1F;
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.74);
}
form label {
    font-size: 18px;
}
form .title {
    font-size: 31px;
    margin-bottom: 10px;
}

.login .chamadaRegistro {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.login .chamadaRegistro a {
    margin-left: 2px;
    color: #8259c9;
}


.erro-login,
.erro-registro {
    display: none;
    position: absolute;
    padding: 20px;
    width: 400px;
    background-color: #b14d4d;
    top: 20px;
    right: 30px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px -2px rgb(0, 0, 0);
}

.form-input input {
    background-color: #121212;
    border: none;
    padding: 15px 15px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    margin: 3px 0;
    transition: box-shadow 0.4s ease;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.459);
}
.form-input {
    margin-bottom: 10px;
}
.form-input input::placeholder {
    color: rgba(255, 255, 255, 0.712);
}

/* Loader */
.loader-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #1F1F1F;
    border-radius: 50%;
    border-top-color: #604196;
    height: 70px;
    width: 70px;
    margin: 20px auto;
}
@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }


/* Se o usuario tiver logado */
.logado {
    padding: 20px 0px 0px 0px;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: #fff;
}
.btn-deslogar {
    display: inline-block;
    background-color: #b14d4d;
    box-shadow: 0px 0px 7px -2px rgb(0, 0, 0);
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.2s ease;
    border: none;
    margin: auto;
}
.btn-chat,
.btn-chat-publico {
    display: inline-block;
    box-shadow: 0px 0px 7px -2px rgb(0, 0, 0);
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.2s ease;
    border: none;
    margin: auto;
}
.btn-chat {
    background-color: #503383;
}
.btn-chat-publico {
    background-color: #282829;
}
.btn-chat-publico:active,
.btn-chat:active,
.btn-deslogar:active {
    transform: scale(0.95,0.95);
}
.none {
    display: none;
}

footer {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 30px 0 20px;
}
footer p span {
    color: #895fd3;
}

@media screen and (max-width: 870px) {
    .text-container {
        width: 293px;
    }
}
@media screen and (max-width: 705px) {
    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .text-container {
        width: 100%;
    }
    .text {
        margin: auto;
    }
    .forms {
        width: 466px;
    }
}
@media screen and (max-width: 705px) {
    .box {
        padding: 40px;
    }
}
@media screen and (max-width: 550px) {
    .container,
    .forms {
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    .box {
        padding: 20px;
    }
    .text a {
        margin-left: 0;
    }
}
@media screen and (max-width: 332px) {
    header h1 {
        font-size: 35px;
    }
    form {
        padding: 20px;
    }
    form p {
        text-align: center;
    }
}
@media screen and (max-width:305px){
    .text-container img {
        width: 100%;
    }
    .text a {
        width: 100%;
    }
    .login .chamadaRegistro a {
        margin-left: 0;
        display: block;
    }
}